<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title || 'Share-A-Ride' %></title>
</head>
<body>
  <%- include('./partials/_navbar') %>

  <% if (error) { %>
    <%- include('./partials/_error', { error: error }) %>
  <% } %>

  <main>
    <%- body %>
  </main>

  <%- include('./partials/_footer') %>
</body>
</html>
