<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Reviews</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All Reviews</h1>
    <ul>
      <% reviews.forEach(review => { %>
        <li>
          Ride: <%= review.rideId.origin %> to <%= review.rideId.destination %> |
          Rating: <%= review.rating %>/5 |
          <a href="/reviews/<%= review._id %>">Details</a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
